In [2]:
import pandas as pd
import os

In [3]:
filename = os.path.join("raw_data","Schools_complete.csv")
schools_df = pd.read_csv(filename)

schools_df

In [5]:
filename = os.path.join("raw_data","Students_complete.csv")
students_df = pd.read_csv(filename)

In [6]:
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
students_df.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [8]:
schools_df.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [9]:
students_df.count()

Student ID       39170
name             39170
gender           39170
grade            39170
school           39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
schools_df.count()

School ID    15
name         15
type         15
size         15
budget       15
dtype: int64

In [11]:
schools_df['budget'].describe()

count    1.500000e+01
mean     1.643295e+06
std      9.347763e+05
min      2.480870e+05
25%      1.046265e+06
50%      1.319574e+06
75%      2.228999e+06
max      3.124928e+06
Name: budget, dtype: float64

In [14]:
avg_math = students_df['math_score'].mean()
print(avg_math)

78.98537145774827

In [16]:
avg_reading = students_df['reading_score'].mean()
print(avg_reading)

81.87784018381414

In [17]:
students_passed = students_df.loc[(students_df["math_score"] >=60)

SyntaxError: unexpected EOF while parsing (<ipython-input-17-e0033b5d2c5e>, line 1)